<ion-view>

  <ion-content class="workout-container">
    <ion list class="workouts">
      <ion-item ng-repeat="workout in workouts" class="col col-50 workout-item"> <!-- repeat this item. workouts is the scope variable set in app.js; workout is the interator variable (e.g. i++) -->
         <a href="#/tab/home/{{workout.url}}"> <!-- This HREF must be correct as per the parent/child structure of the routes. -->
          <img ng-src="{{ workout.poster }}" class="workout-poster-img">
          <h2 class="padding text-center">{{ workout.title }}</h2>
        </a>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>