<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="Home" icon="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view> <!-- This is the view that's loaded when tab clicked. -->
  </ion-tab>

  <ion-tab title="My Workouts" icon="ion-ios-person-outline" href="#/tab/my-workouts">
    <ion-nav-view name="my-workouts-tab"></ion-nav-view> <!-- This is the view that's loaded when tab clicked. -->
  </ion-tab>

</ion-tabs>