<ion-view>
  <ion-content>

    <div ng-repeat="workout in workouts | filter: {url: whichworkout }">
      <img ng-src="{{workout.poster}}" alt="{{ workout.title }} Photo">
      <h2>{{ workout.title }}</h2>

      <!-- <ion-list class="list-inset" ng-controller="WorkoutController">
        <ion-item class="item-text-wrap" ng-repeat="step in steps">
          <h3>{{ step.workout_name }}</h3>
        </ion-item>
      </ion-list> -->
    </div>

    <div ng-controller="WorkoutController">

      <!-- <a href="#" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">
        Toggle Panel
      </a> -->

      <div class="panel panel-default step-panel" ng-repeat="step in steps">
        <div class="panel-heading step-panel-heading">
          <h4 class="panel-title step-panel-title">
            <ion-checkbox class="checkbox-dark" ng-model="isChecked"></ion-checkbox>
            <div class="step-item" ng-click="isCollapsed = !isCollapsed">
              {{ step.exercise_name }}
            </div>
          </h4>
        </div>
        <div collapse="isCollapsed">
          <div class="panel-body step-panel-body">
            <div class="col col-50">
              <p>{{ step.exercise_info }}</p>
              <button class="button button-block button-balanced start-button">Start</button>
            </div>

            <div class="col col-50">
              <i class="icon ion-social-youtube-outline step-play-icon"></i>
              <h3 class="exercise-length"> {{ step.exercise_length }}</h3>

            </div>

          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>