/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png');
}

#header-logo > img {
  height: 23px;
  top: 5px;
  position: relative;
}

.workout-container {
  margin-top: 20px;
}

.workouts > .workout-item {
  display: inline-block;
  border: none;
}

.workout-poster-img {
  display: block;
  margin: 0px auto;
}

.step-item {
  cursor: pointer;
  display: inline-block;
  position: relative;
  bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.item-checkbox {
  width: 0;
  display: inline-block;
  background: none;
  border: none;
}

.start-button {
  padding: 0px 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  margin: 20px 0px;
}

.step-panel-body {
  display: flex;
}

.step-play-icon {
  font-size: 60px;
  text-align: center;
  display: block;
  color: #a8996e;
}

.exercise-length {
  text-align: center;
  position: relative;
  top: 18px;
}